.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(120deg,#021a3d,#0b2a5b);
  font-family:Arial;
}

.box{
  width:500px;
}

textarea{
  width:100%;
  height:150px;
  padding:15px;
  border-radius:12px;
  font-size:18px;
  resize:none;
  background:rgba(255,255,255,0.1);
  color:white;
  border:1px solid #ffffff40;
}

.counter{
  text-align:right;
  margin-top:8px;
  font-size:18px;
  color:white;
}

.warning{
  color:red;
  font-weight:bold;
}
