/* Basic reset */
body {
    font-family: Georgia, 'Times New Roman', Times, serif
    background-color: #ffc0cb;
}

/* Container */
.container {
    width: 500px;
    margin: 70px auto;
    padding: 20px;
    background-color: rgb(217, 23, 23);
    border-radius: 10px;
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* Form elements */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

/* Button */
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #d48c8c;
    color: rgb(71, 24, 24);
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #4dca6a;
}
